<!-- Set up modal -->
<div class="modal fade" id="cbSetUpModal" tabindex="-1" aria-labelledby="cbSetUpModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="cbSetUpModalLabel">Digital Dramaturgy Config</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p>Welcome to Digital Dramaturgy!</p>

                <p>Using the options below you can select demo metadata to explore a pre-built annotated play, or load your own script from the web or your local computer. The configurations are temporarily stored in your browser's session storage, so will remain only until you close this window!</p>

                The site is currently configured to feature **<span id="current_play_title"></span>** via the following
                spreadsheet:
                - ***<span id="current-metadata-csv" class="small"></span>***

                Use one of the below forms to change the playscript featured. Note that configurations are stored in
                your browser's session storage, so any changes will disappear after you quit your browser session! If
                you'd like to make your changes permanent, go through our [How To directions](directions.html).

                <div class="accordion my-5" id="cbMetadataOptions">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button fs-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Select Demo Metadata
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#cbMetadataOptions">
                            <div class="accordion-body">
                                <h3>Use a Demo Shakespeare Link</h3>
                                <p>
                                    <select id="demoUrl" class="form-select form-select-lg mb-3"
                                        aria-label=".form-select-lg example" onchange="metadata_demo_selector();">
                                        <option selected>Select a Play</option>
                                        {% for demo in site.data.demo-links %}
                                        <option value="{{demo.link}}">{{demo.title}}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <ul>
                                    <li>If you'd like to use one of these plays for your own annotations, use <a
                                            href="directions.html#option-a-use-a-prepared-shakespeare-play">the dropdown
                                            tool on our How To page</a> to get a copy of the play as a Google Sheet.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Use Metadata CSV Link (e.g. Google Sheet)
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#cbMetadataOptions">
                            <div class="accordion-body">
                                <h3>Use a Published Google Sheet <a class="ml-3 btn btn-outline-primary btn-sm small"
                                        type="button" data-bs-toggle="modal"
                                        data-bs-target="#sheetsInstructionsModal">Instructions</a></h3>
                                <p>
                                <form id="metadataUrl" onsubmit="metadata_url_selector(); return false;">
                                    <div class="input-group">
                                        <input type="url" id="csvUrl" class="form-control" pattern="https://.*"
                                            placeholder="Paste in the URL to your Google Sheet">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                </p>
                                <ul>
                                    <li><strong>NOTE:</strong> If you are using a Google Sheet, you can add a parameter
                                        to the end of the site like so -
                                        <em>https://thecdil.github.io/dramabase/?play={YOUR GOOGLE SHEET LINK HERE}</em>
                                        - to share a link to your work with others.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Use Metadata CSV from your Computer
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#cbMetadataOptions">
                            <div class="accordion-body">
                                <h3>Use Metadata CSV from Computer <a class="ml-3 btn btn-outline-primary btn-sm small"
                                        type="button" data-bs-toggle="modal"
                                        data-bs-target="#localCSVInstructionsModal">Instructions</a></h3>
                                <p>
                                <form id="metadataFile" onsubmit="metadata_file_selector(); return false;">
                                    <div class="input-group">
                                        <input type="file" accept=".csv" id="csvFile" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 id="how-to-publish-your-google-sheet">How to Publish Your Google Sheet</h3>

                <ul>
                    <li>In your Google Sheet, ensure that your metadata is the first sheet in the spreadsheet (by
                        default named "Sheet1"). The tabs can be dragged to reorder if necessary.</li>
                    <li>Click “File”, “Share”, and select “Publish to the Web”.</li>
                    <li>On the popup modal, use the dropdowns in “Link” tab to select “Entire Document” and
                        “Comma-separated values (.csv)” options, then click “Publish” button.</li>
                    <li>Copy the link that is provided.</li>
                    <li>In the "Use Metadata CSV Link" form above, paste the link and click "Submit".</li>
                </ul>

                <p>For example, a published link looks like:</p>

                <p><code
                        class="language-plaintext highlighter-rouge">https://docs.google.com/spreadsheets/d/e/2PACX-1vSn7AA-cbsXT3_nNUGftc1ab-CKXOJHMQCIENeR9NHElbyI9_qA99o0-HNZdG04v-M2_N21bUe_krQQ/pub?output=csv</code>
                </p>

                <h3 id="how-to-download-your-google-sheet-as-csv">How to Download Your Google Sheet as CSV</h3>

                <ul>
                    <li>On your Google Sheet, switch to the sheet tab that contains your metadata (by default "Sheet1").
                    </li>
                    <li>Click “File”, “Download”, and select as "Comma Separated Values (.csv)”</li>
                    <li>The file should download to your computer’s Downloads folder</li>
                    <li>In the "Use Metadata CSV from your Computer" form above, click “Choose file” and navigate in
                        your file explorer to select the downloaded CSV, then click "Submit".</li>
                </ul>

                <h3 id="other-web-csv">Other Web CSV</h3>

                <p>If you have a CSV available anywhere on the web, you can use it by referencing the full URL.
                    However, depending on where your CSV is hosted, you may encounter <a
                        href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors">CORS errors</a>.</p>

                <p>For example, to use a CSV hosted in a GitHub repository, use the “raw” link:</p>

                <p><code
                        class="language-plaintext highlighter-rouge">https://raw.githubusercontent.com/CollectionBuilder/collectionbuilder-sample-data/main/psychiana_cbdemo_gh.csv</code>
                </p>

                <p>Paste the link into the "Use Metadata CSV Link" form above and click Submit.</p>

                <h2 id="share-via-url">Share via URL</h2>

                <p>To share your work with others, the default template can also load web CSV metadata specified as a
                    parameter in the URL.
                    Add your full metadata link to the end of the CB-Sheets instance’s URL as the “csv” option, like:
                </p>

                <p><code
                        class="language-plaintext highlighter-rouge">https://collectionbuilder.github.io/collectionbuilder-sheets/?csv=&lt;your metadata url here&gt;</code>
                </p>

                <p>For example:</p>

                <p><code
                        class="language-plaintext highlighter-rouge">https://collectionbuilder.github.io/collectionbuilder-sheets/?csv=https://raw.githubusercontent.com/CollectionBuilder/collectionbuilder-sample-data/main/psychiana_cbdemo_gh.csv</code>
                </p>

                <p>or</p>

                <p><code
                        class="language-plaintext highlighter-rouge">https://collectionbuilder.github.io/collectionbuilder-sheets/?csv=https://docs.google.com/spreadsheets/d/e/2PACX-1vSn7AA-cbsXT3_nNUGftc1ab-CKXOJHMQCIENeR9NHElbyI9_qA99o0-HNZdG04v-M2_N21bUe_krQQ/pub?output=csv</code>
                </p>

                <p><strong>Note:</strong> the metadata URL can not have any <code
                        class="language-plaintext highlighter-rouge">&amp;</code> (i.e. additional query string
                    parameters).
                    Having a <code class="language-plaintext highlighter-rouge">&amp;</code> in the URL will cause the
                    parsing to fail.</p>

            </div>
        </div>
    </div>
</div>